
.paginator {
    margin-bottom: 30px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
    font-weight: bold;
    cursor: pointer;
}

.pageNumber.selectedPage {
    /*font-weight: bold;*/
    border-color: black;
}