.content {
    margin-top: 15px;
    width: 80%;
    height: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.contentInner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}