.sidebar {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    width: 19%;
    margin-right: 1%;
    min-height: 400px;
    height: auto;
    background-color: black;
}

.sidebarList {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sidebarItem {
    margin: 3px 0;
}

.sidebarItem a {
    color: white;
    text-decoration: none;
}

.sidebarItem a.activeLink {
    font-weight: bold;
}