.avatarPhoto {
    padding-top: 35px;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 30%;
    height: auto;
}

.avatarImg {
    max-width: 150px;
}

.avatarButton {
    margin-top: 10px;
    display: flex;
}