.avatarPhoto {
    padding-top: 35px;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 35%;
    height: auto;
}

.avatarImg img {
    max-width: 200px;
}

.avatarButton {
    margin: 20px 0 0 20px;
}

.avatarButton input {
    color: white;
}


