.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span
{
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}

.loginInputForm button {
    margin-top: 20px;
    width: 130px;
    height: 48px;
    border-radius: 24px;
    border: 3px solid rgba(85, 132, 255, 0.1);
    background-color: transparent;
    color: white;
}

.loginInputForm button:hover {
    cursor: pointer;
    transition: all .7s;
    border: 3px solid rgba(85, 132, 255, 0.9);
    cursor: pointer;
}


input {
    margin-bottom: 21px;
    padding: 8px 10px 8px 10px;

    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    border: 1px solid #555555;
}

input:focus {
    border: 1px solid #c0301c;
}
